*.pyc
*.jar
*.swo
*.swp
*.class

*.war
*.ear

.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*~.nib
local.properties
.classpath
.settings/
.loadpath

.externalToolBuilders/

*.launch
.idea/
*.iml
/ffmpeg/
target/
log/